body{
	/*font-family: 'Reem Kufi', sans-serif;*/
	font-family: 'Lato', sans-serif;
	background-color: #e1e7ed;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

button{
	cursor: pointer;
}

/*=========Main-container==========*/

.container{
	max-width: 1140px;
	margin: 96px auto;
	/*border: 2px solid red;*/
}



/*============Banner Area==========*/

.banner{
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	text-align: center;
}

.banner h1{
	margin: 0 auto;
	padding-top: 178px;
	padding-bottom: 42px;
}

.banner p{
	padding-bottom: 20px;
}

.search{
	width: 527px;
	height: 50px;
	background: #fff;
	border-radius: 4px;
	border: none;
}

.search[placeholder]{
	padding-left: 25px;
	color: #cacdd3;
}

.search-box{
	height: 52px;
	width: 52px;
	border: none;
	border-radius: 0px 4px 4px 0px;
	background-color: #8c91ff;
	color: white;
	vertical-align: middle;
	margin-left: -52px;
}

/*============ Photos and Actions ==========*/

.actions{
	width: 100%;
	margin-top: 30px;
}

.entry{
	width: calc(100%/3*2 - 15px);
	display: inline-block;
	padding-right: 15px;
	/*border: 2px solid red;*/
}

.entry p{
	margin: 0;
	padding: 10px;
	text-align: justify;
}

.entry img{
	display: block;
	float: left;
	width: 360px;
}

.entry-detail{
	width: 384px;
	background-color: #fff;
	float: left;
}

.entry-detail h3{
	margin: 0;
	padding: 30px 30px 20px;
	/*padding-right: 10px;*/
}

.line{
	border: 2px solid #ff7098;
	width: 40px;
	margin-top: 0;
	margin-left: 30px;
	margin-bottom: 20px;
}

.entry-detail p{
	margin: 0;
	padding: 0px 30px 26px;
	line-height: 24px;
}

.alex{

	width: 100%;
}

.alex p{
	margin-left: 20px;
	font-weight: 900;
}

.alex-pic{
	width: 50%;
	padding-left: 30px;
	float: left;
}

.like-button{
	float: right;
	display: inline-block;
	text-align: right;
}

.alex-pic img{
	width: 30px;
	text-align: left;
	margin-top: -2px;
}

img#like{

	width: 24px;
    margin-top: 2px;
    margin-left: 12px;
}

.action{
	width: calc(100%/3 - 15px);
	float: right;
	/*border: 1px solid red;*/
}

.action img{
	display: block;
	float: left;
	width: 263px;
}

.icon-list{
	/*width: calc(100%/3);*/
	width: 96px;
	background-color: #fff;
	float: left;
	margin: 0 auto;
}

.icon-list ul{
	list-style: none;
	padding: 0;
	text-align: center; 
	margin: 0 auto;
}

.icon-list ul li{
	margin: 0 auto;
    padding: 23px 36px 14px;
    border-bottom: 1px solid #dde1e7;
}

.icon-list ul li img{
	height: 20px;
	width: 20px;
	display: block;
}


.second_action{
	width: 100%;
	margin-top: 30px;
}


